<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Tolstoy Camp</title>
</head>
<body>

<input id="words" type="text" onchange="pusher(this.value)"/>
<button id="find" onclick="countLength()">Find substring</button>
<button id="reset" onclick="resetAll()">Reset array</button>

<div id="result">

</div>

<script type="text/javascript">
    var input = document.getElementById("words");
    var action = document.getElementById("find");
    var resultBox = document.getElementById("result");
//    var words = ["mycabarchive","acabistrue","abacaba"];
    var words = ["mycabarchive","acabistrue"];

    /**
     * Конструктор объекта с исходными строками для поиска подстроки
     * @param arr
     * @constructor
     */
    function Compare(arr) {
        this.arr = arr;
    }

    /**
     * Расширение конструктора методами
     * @type {{longer: Function, slc: Function, reg: Function}}
     */
    Compare.prototype = {
        shorter: function () {
            var b = 0;
            var biF = 0;
            var biS = 0;
            var c = 0;
            for (k in this.arr) {
                console.count("b="+b+" k="+k+" this.arr=" + this.arr[k] + " this.arr.length=" + this.arr[k].length);
                var ar = this.arr[k];
                var arLen = ar.length;
                if (k == 0){
                    b = arLen;
                    c = arLen;
                } else if (b > arLen) {
                    b = arLen;
                    biS = biF;
                    biF = k;
                } else if (b < arLen && c > arLen) {
                    c = arLen;
                    biS = k;
                }
                console.log("b= "+b);
                console.log("biF= "+biF);
                console.log("biS= "+biS);
//                console.log("Элемент массива"+" "+ar);
//                console.log("длина этого эл-та"+" "+ar.length);
//                console.log("most lenghter "+b+"; это позиция в массиве под номером: "+bi);
            }
            return [biF,biS];
        },
        splitToArr: function () {
            var arrP = this.shorter();
            var arrI = arrP[0];
//            var arrILen = arrI.length;
            var strSplitOne = [];
            var strSplitTwo = [];
            console.warn("this.shorter(); = "+arrP);
            var str = this.arr[arrI];
            var strLen = str.length;

                console.log("len"+ strLen);
            for (var i=0;i<strLen;i=i+2){
                console.log("I "+ i);
                var strS = str.slice(i,i+2);
                strSplitOne.push(strS);
            }

            for (var i=1;i<strLen;i=i+2){
                console.log("I "+ i);
                var strS = str.slice(i,i+2);
                strSplitTwo.push(strS);
            }


            console.log("!!!! "+arrI+"; and str is - "+str+"    of length= "+strLen);
            console.info("what we got "+strSplitOne);
            console.info("and what we got "+strSplitTwo);
            return [strSplitOne,strSplitTwo];
        },
        filterReg: function () { //TODO: сравнить пары на дубликаты, дубликаты удалить, также удалить не пары
            var splArr = this.splitToArr();
            var fArr = [];
            fArr.push(splArr[0],splArr[1]);
            var filteredArr = fArr.filter(function(x,i) {
                 return i === x;
            });
            console.log("filtered reg ++++++++");
            console.warn(filteredArr);
        },
        reg: function () { //TODO: будет вызывать несколько раз, поэтому должна быть универсальной. Первый раз вызывается для пар, второй раз для соединений пар (3 символа) и т.д. пока есть совпадение. Затем проход со всеми возможными значениями по другим строкам массива.
            var regArr = this.splitToArr();
            var arrComp = this.shorter();
            var arrCompStr = this.arr[arrComp[1]];
            var regArrF = regArr[1];
            var pairArr = [];
            var k = 0;
            for (val in regArr) {
                var pairStr = regArr[val];
                for (i in pairStr) {
                    var pat = new RegExp(pairStr[i],"gi");
                    var text = arrCompStr;
                    var result;
                    console.log(pat + " in " + text);
                    while ((result = pat.exec(text)) != null) {
                        var pairFirstChar = result.index;
                        var pairPos = [pairFirstChar,pairFirstChar + 1];
                        console.log("pairPos=" + pairPos);
                        pairArr.push(pairPos);
                        console.log("+++++/g");
                        console.warn(pairFirstChar);
                        console.info("pairArr="+pairArr);
                        console.dir(pairArr);
                    }
                    k++;
                }
            }
                        console.info("!!!!!!!!!!!!!!!!");
                        console.info("pairArr="+pairArr);

        }
    }



    function pusher(val) {
        words.push(val);
        var a = new Compare(words);

//        a.shorter();
//        console.info(a.shorter());
//        console.log(words);
//        a.splitToArr();
        a.reg();
        a.filterReg();
        resultBox.innerHTML = "<span>"+words+"</span>";

        console.dir(a);
    }


    function countLength() {
        for (i in words) {
            console.log(words[i].length);
        }
    }

    function resetAll() {
        words = [];
    }

</script>

</body>
</html>